@keyframes spin{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(360deg);
	}
}

@keyframes spin-shrink{
	50%{
		transform: scale(0) rotateY(1080deg);
	}
	100%{
		transform: scale(1) rotateY(0);
	}
}

.moving{
	animation-name: spin;
	animation-duration: 20s;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.flip{
	transform: rotateY(90deg);
}

.end-game-anim{
	animation-name: spin-shrink;
	animation-duration: 3s;
	animation-direction: normal;
	animation-iteration-count: 1;
}