@keyframes spin{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(360deg);
	}
}

@keyframes move-left-and-right{
	from{
		tranform: translate(-100,0)	rotate(-180deg);
	}
	to{
		transform: translate(100px,0) rotate(180deg);
	}
}

.moving{
	animation-name: spin;
	animation-duration: 20s;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.flip{
	transform: rotateY(90deg);
}