#game{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	position: relative;
	border-radius: 40%;
	overflow: hidden;
}

#middle-button{
	height: 150px;
	width: 150px;
	position: absolute;
	top: 175px;
	right: 175px;
	background-color: rgb(0,0,0);
	opacity: 0.5;
	border-radius: 40%;
}

.color-btn{
	float: left;
	height: 250px;
	width: 250px;
	box-sizing: border-box;
	opacity: 0.5;
}

#green{
	background-color: green;
}

#red{
	background-color: red;
}

#yellow{
	background-color: yellow;
}

#blue{
	background-color: blue;
}
