body{
	background-color: #bbb;
}

#game{
	width: 500px;
	height: 500px;
	margin-left: 150px;
	position: relative;
	border-radius: 50%;
	border: 15px solid #555;
	box-shadow: 0 0 5px 8px black;
	display: inline-block;
}

#middle-btn{
	height: 150px;
	width: 150px;
	position: absolute;
	top: 175px;
	right: 175px;
	background-color: #444;
	border-radius: 50%;
	box-sizing: border-box;
	box-shadow: 0 0 0 #aaa;
}

#middle-btn:hover{
	background-color: #222;
	box-shadow: 0 0 30px #aaa;
}

#middle-btn:active{
	background-color: #000;
	box-shadow: 0 0 100px #aaa;
}

#middle-btn-text{
	font-family: monospace;
	color: white;
	position: absolute;
	font-size: 20px;
	padding: 45px;
	text-align: center;
}

.color-btn{
	float: left;
	height: 250px;
	width: 250px;
	box-sizing: border-box;
	opacity: 0.3;
	transition: all 0.3s;
	position: relative;
}

.color-btn:hover{
	opacity: 0.65;
}

.light-up,
.color-btn:active{
	opacity: 1 !important;
}

#green{
	background-color: green;
	border-radius: 100% 0 0 0;
}

#green:hover{
	box-shadow: 0 0 50px green;
}
.green-lit,
#green:active{
	box-shadow: 0 0 100px green;
}

#red{
	background-color: red;
	border-radius: 0 100% 0 0;
}

#red:hover{
	box-shadow: 0 0 50px red;
}

.red-lit,
#red:active{
	box-shadow: 0 0 100px red;
}

#yellow{
	background-color: yellow;
	border-radius: 0 0 0 100%;
}

#yellow:hover{
	box-shadow: 0 0 50px yellow;
}

.yellow-lit,
#yellow:active{
	box-shadow: 0 0 100px yellow;
}

#blue{
	background-color: blue;
	border-radius: 0 0 100% 0;
}

#blue:hover{
	box-shadow: 0 0 50px blue;
}

.blue-lit,
#blue:active{
	box-shadow: 0 0 100px blue;
}

#options-area {
	font-family: sans-serif;
	position: relative;
	width: 20%;
	margin: 0 25px;
	height: 500px;
	border-radius: 3%;
	background-color: #ddd;
	box-shadow: 2px 2px 2px black;
	display: inline-block;
	padding: 10px;
	float: right;
}

label{
	display: block;
	margin: 10px 0;
	font-size: 1.2em;
	font-weight: bold;
}

label > select{
	height: 30px;
	line-height: 30px;
	background: #eee;
	font-size: 1em;
	box-shadow: 2px 2px 2px black;
}

button{
	display: block;
	height: 40px;
	padding: 10px 15px;
	border-radius: 5%;
	margin: 10px;
	font-size: 1em;
	transition: all 0.3s;
	box-shadow: 0 0 2px 1px black;
	background-color: #eee;
	color: #111;
	font-weight: bold;
}

button:hover{
	background-color: #111;
	color: #eee;
}

button:active{
	box-shadow: 0 0 0 black;
}

button:focus{
	outline: 0;
}

